//http://www.cssmatic.com/noise-texture
// Global variables and styles
@import "foundation", "settings";

@include foundation-everything(true);

@import "bourbon";

body *, body * :not(.button) {
  text-shadow: 0 -1px $white, 0 1px $black;
  //@include transition(all 300ms linear);
}

.button {
  box-shadow: -1px -1px $light-gray, 1px 1px $black;
  &:active {
    box-shadow: -1px -1px $black, 1px 1px $light-gray;
  }
}

@mixin hideaway() {
  display: inline;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  max-height: 0;
  width: 0;
  max-width: 0;
  z-index: -9999;
}

.allcaps {
  text-transform: uppercase;
}

.fixed {
  @include position(absolute, 0 0 0 0);
}

.center-90 {
  margin: auto;
  width: 90%;
}

.videoLoadOverlay {
  padding: 0;
  font-size: 1.1rem;
  font-stretch: expanded;
  color: white;
  text-shadow: 1px 2px 1px #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 9999;

  div {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding-top: 20%;
  }
}

.box-constraint {
  overflow: hidden;
  overflow-wrap: breakWord;
  word-break: break-all;
}

.horizontal-constraint {
  overflow: hidden;
  overflow-x: auto;
  overflow-wrap: breakWord;
  word-break: break-all;

  &.inner {
    padding: .25rem;
  }
}

.inline-box {
  display: inline-block;
  margin: 0 .25em;
  padding: .25em .5em;
}

section.invisible {
  overflow: hidden;
  height: 1px;
  z-index: -999;
  margin: 0;
  padding: 0;
}

.moveBack {
  //position: fixed;
  overflow: hidden;
  //height: 1px;
  z-index: -999;
  margin: 0;
  padding: 0;
}

.img_invisible, .box_invisible {
  @include hideaway;
}

#module_page_buttons {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  ul {
    li {
      @include transition(all 100ms linear);
      text-align: center;

      &:hover {
        background-color: rgba($light-gray, 0.5);
      }
    }
  }
}

#header_labels {
  li {
    /*display: inline-block;*/
    label {
      font-size: smaller;
      font-variant: small-caps;
    }
  }
}

#info-labels-module {
  li {
    display: inline-block;
    label {
      text-transform: uppercase;
    }
  }
}

#info-label_adblock {
  background-color: rgba(0, 0, 0, .8);
  color: rgb(240, 10, 10);
}

label.info-label-default {
  @include label;

  border: 2px groove rgba(100, 100, 100, .5);
  background-color: rgba(50, 50, 50, .25);
  color: rgb(0, 0, 50);

  &.info-label-debug {
    background-color: rgba(250, 250, 250, .25);
    color: rgb(10, 10, 10);
  }
}

fieldset > legend.toggle-button {
  cursor: pointer;
  &:hover, &:focus {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.toggle-section {
  display: none;
}

.activePlaylist {
  background-color: rgba(0, 0, 0, 0.05);
}

.overflow-height {
  max-height: 30rem;
  overflow: auto;
  overflow: {
    x: hidden;
    y: auto;
  }
}

.messagebox {
  text-align: center;
  font-size: 1.1rem;
  padding: .25rem;

  &#msgPageReady {
    background-color: $primary-color;
  }

  &#msgLoadPlayer {
    background-color: $alert-color;
  }

  &#msgLoadAssets {
    background-color: $success-color;
  }

  &#msgLoadMedia {
    background-color: #ccc;
  }

  h4 {
    margin: 0;
    color: $white;
  }
}

.checkbox-label {
  position: relative;

  &.checked {
    background-color: #222;
    color: #ccc;
  }

  input {
    @extend .fixed;
    @include hideaway;
  }
}

.log-error, .log-error * {
  color: $alert-color !important;
}

.log-warn, .log-warn * {
  color: lighten($warning-color, 10%) !important;
}

.log-info, .log-info * {
  color: darken($success-color, 20%) !important;
}

.log-debug, .log-debug * {
  color: blue !important;
}

pre#log_detailEvent,
#info-configuration-module pre,
#info-page-module pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 10px 0 rgba(0, 0, 0, 0.3);

  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: red;
  }
}

@import "select-inline-block";
@import "toggle-buttons";