node_modules
.DS_Store
.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea
.vscode
*.iml
.eslintcache

apps/portfolio/.nuxt
apps/portfolio/.output
apps/portfolio/.nitro
apps/portfolio/.cache
