node_modules
/dist
out
gen

build
dev-build

src/js/data/substr/*

/tests/e2e/reports/
selenium-debug.log

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.iml
.sass-cache
.DS_store
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.eslintcache
