//
   Created by 206445994 on 11-Apr-17.

<!-- ko if:(info() && info().headerLabels()) -->
ul(id="header_labels", class="menu align-right", data-bind="with:info().headerLabels")
    <!-- ko template:{name:'header_labels-bool-template',data:adblock} --><!-- /ko -->
    <!-- ko template:{name:'header_labels-bool-template',data:debug} --><!-- /ko -->
    <!-- ko template:{name:'header_labels-select-template',data:preset} --><!-- /ko -->
    <!-- ko template:{name:'header_labels-select-template',data:player} --><!-- /ko -->
    <!-- ko template:{name:'header_labels-select-template',data:branch} --><!-- /ko -->
    <!-- ko template:{name:'header_labels-select-template',data:brand} --><!-- /ko -->
<!-- /ko -->

script(type="text/html", id="header_labels-bool-template")
    li(data-bind="visible:value")
        label(data-bind="text:title,attr:{title:title,id:id},css:css.join(' ')")

script(type="text/html", id="header_labels-select-template")
    li(data-bind="visible:value")
        label(data-bind="text:value,attr:{title:title,id:id},css:css.join(' ')")