<script>
    //XMLHttpRequest.prototype.realSend = XMLHttpRequest.prototype.open;
    var onLoadEnd = function () {
        console.log("XMLHttpRequest onLoadEnd data: ", arguments);
        //console.log("XMLHttpRequest onLoadEnd data: ", arguments, '\n', this.getAllResponseHeaders(), this);
    };
    // here "this" points to the XMLHttpRequest Object.
    var newOpen = function (vData) {
        console.log("XMLHttpRequest OPEN data: " + vData/*, this*/);
        this.onloadend = onLoadEnd;
        this.realSend.apply(this, arguments);
    };
    //XMLHttpRequest.prototype.open = newOpen;

    var scripts = document.getElementsByTagName('script');
    //console.info('SCRIPTS', scripts);
    var i = scripts.length;
    while (i--) {
        var _script = scripts[i];
        _script.onload = function () {
            //console.warn('ONLOAD DONE', arguments);
        }
    }

    Object.defineProperties(window, {
        $GLOBAL_FUNCTIONS: {
            value: {},
            enumerable: true
        }
        , $GLOBAL_MODELS: {
            value: {},
            enumerable: true
        }
        , $GLOBAL_PARAMETERS: {
            value: {},
            enumerable: true
        }
        , $URL_LOCATION:{
            value: window.location.href,
            writable: true
        }
    });
    window.$GLOBAL_PARAMETERS.$DATASTRING = '{{datastring}}';
    window.$GLOBAL_PARAMETERS.$PAGE_TIMESTAMP = (new Date()).getTime();
</script>
<script type="text/javascript" src="/libs/modernizr/bin/modernizr"></script>
<script type="text/javascript" src="/libs/knockout/dist/knockout.js"></script>
<script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/showads.js"></script>
