script.
    //XMLHttpRequest.prototype.realSend = XMLHttpRequest.prototype.open;
    var onLoadEnd = function () {
        console.log("XMLHttpRequest onLoadEnd data: ", arguments);
        //console.log("XMLHttpRequest onLoadEnd data: ", arguments, '\n', this.getAllResponseHeaders(), this);
    };
    // here "this" points to the XMLHttpRequest Object.
    var newOpen = function (vData) {
        console.log("XMLHttpRequest OPEN data: " + vData/*, this*/);
        this.onloadend = onLoadEnd;
        this.realSend.apply(this, arguments);
    };
    //XMLHttpRequest.prototype.open = newOpen;

    var scripts = document.getElementsByTagName('script');
    //console.info('SCRIPTS', scripts);
    var i = scripts.length;
    while (i--) {
        var _script = scripts[i];
        _script.onload = function () {
            //console.warn('ONLOAD DONE', arguments);
        }
    }
    window.$DATASTRING = decodeURIComponent('#{datastring}');
    window.$PAGE_TIMESTAMP = Date.now();
    window.$PAGE_PERFORMANCE = performance.now();

// script(type="text/javascript", src="/libs/modernizr/src/Modernizr.js")
script(src="/libs/knockout/dist/knockout.js")
script(src="/libs/jquery/dist/jquery.js")
script(src="/js/misc/showads.js")