.darkred-brown {
  .background-color{
    background-color: rgb(5,6,9);
  }

  .font-color {
    color: rgb(245,208,197);
  }

  .highlight-color {
    border-color: rgb(214,159,126);
  }

  .secondary-color {
    background-color: rgb(119,73,54);
  }

  .primary-color {
    background-color: rgb(60,0,0);
  }
}
