

ol.player-events, ul.player-events {
  li {
    border: 1px solid transparent;
    padding: {
      left: .25rem;
      right: .25rem;
    }
    margin-bottom: .15rem;
    cursor: pointer;

    h6 {
      margin-bottom: 0 !important;
    }

    &:hover, &:active {
      border: 1px solid rgba(0, 0, 0, 0.1);
      @include transition(all 500ms ease-in-out);
    }

    &.warn {
      background-color: rgba(gold, 0.1);
      * {
        @extend .log-warn;
      }
    }
    &.error {
      background-color: rgba(darkred, 0.1);
      * {
        @extend .log-error;
      }
    }
    &.info {
      background-color: rgba($success-color, 0.1);
      * {
        @extend .log-info;
      }
    }
    &.debug {
      background-color: rgba(darkblue, 0.1);
      * {
        @extend .log-debug;
      }
    }
  }
}
