
li.thumbnail {
  &.snappy {
    border-color: darkred;
    background-color: rgba(darkred, 0.3);
  }
  &.nbc {
    border-color: mediumblue;
    background-color: rgba(darkblue, 0.3);
  }
  &.fireTV {
    border-color: goldenrod;
    background-color: rgba(goldenrod, 0.3);
  }
  &.live {
    border-color: darkgreen;
    background-color: rgba(darkgreen, 0.3);
  }
  &.none {
    /*border-color: white;*/
    background-color: rgba(0, 0, 0, 0.5);
  }
}

ul.asset-thumbnails {
  /*overflow: auto;
  max-height: 75rem;*/

  .activeAsset {
    background-color: rgba(0, 0, 0, 0.05);
  }

  li {
    margin-bottom: .3rem;

    img {
      min-width: 92px;
      max-width: 160px;
      min-height: 52px;
      max-height: 160px;
      cursor: pointer;
    }
  }
}
