extends layout.pug

append css
    include partials/styles.pug

prepend js
    script(src="/libs/jquery/dist/jquery.js")

block header
    header
        include partials/head.pug

block content
    h1 Hello World - Version #{version}
    h3 Build: #[code #{build}]

    video(id="videoId", width="800", scr="http://www.w3schools.com/tags/mov_bbb.mp4")
    br

    button#directBtn Direct
    button#indirectBtn setTimeout
    button#indirectModifiedBtn Delayed Loop

    script(type='text/javascript').
        //alert(hls);
        $('#directBtn').click(direct);
        $('#indirectBtn').click(indirect);
        $('#indirectModifiedBtn').click(indirectModified);

        function direct() {
            console.log('direct clicked', Date.now());
            var elem = document.getElementById("videoId");
            if (elem.mozRequestFullScreen) {
                console.log('has moz fullscreen');
                elem.mozRequestFullScreen();
            } else {
                console.log('has fullscreen');
                elem.requestFullscreen();
            }
        }

        function indirect() {
            setTimeout(function () {
                console.log('indirect clicked, 1ms delay');
                direct();
            }, 1);
        }

        let i = 0;
        function indirectModified() {
            if (!i) {
                i = new Date();
                //i.setSeconds(i.getSeconds() + 1);
                i.setMilliseconds(i.getMilliseconds() + 900);
                i = +i;
            }
            console.log('indirect modified', Date.now());

            if (Date.now() < i) {
                //console.log(i);
                indirectModified();
            } else {
                console.log('indirect modified clicked, 900ms delay', Date.now());
                i = 0;
                direct();
            }
        }

block footer
    include partials/foot.pug