doctype html
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

    head
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge, chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title TMack's Portfolio | #{title}
        link(rel="icon", href="./favicon.ico", type="image/x-icon")

        block css
            script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js", type="text/javascript")

        block js
            if lte_IE11
                script(src="/libs/es5-shim/es5-shim.js", type="text/javascript")
            if debug
                script(src="/js/debug/base.js", type="text/javascript")
            else
                script(src="/js/base.js", type="text/javascript")

    body
        block header
        block content
        block footer