//
   Created by Tamara Mack on 07-Jun-17.

extends layout.pug

append css
    include partials/styles.pug

prepend js
    include partials/scripts.pug

block header
    header
        include partials/head.pug

block content
    div #{renderHTML}

block footer
    include partials/foot.pug